<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
  <a class="navbar-brand" href="/home">Work Order Creation</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav me-auto">
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            Category-->
<!--          </a>-->
<!--          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">-->
<!--            <li><a class="dropdown-item" href="/home">Call back</a></li>-->
<!--            <li><a class="dropdown-item" href="/home2">Maintenance</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Future use..</a></li>-->
<!--          </ul>-->
<!--        </li>-->
        <li class="nav-item">
            <a class="nav-link" href="/permissions">Permissions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/config">Configuration</a>
        </li>
    </ul>

    <ul class="navbar-nav me-right">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
  </div>
    </div>
</nav>
